html, #root, body {
  width: 100%;
  height: 100%;
}
.register-bg {
  width: 100%;
  height: 100%;
  background-color: skyblue;
}
.form-wrapper {
  width: 400px;
  height: 420px;
  background-color: white;
  border-radius: 20px;
}
.login-wrapper {
  width: 400px;
  height: 225px;
  background-color: white;
  border-radius: 20px;
}
.btn-register {
  width: 370px;
  background-color: rgb(76, 114, 184);
}
.btn-register:hover {
  width: 370px;
  background-color: white;
  color: rgb(76, 114, 184);
  border: 2px solid rgb(76, 114, 184);
}
.btn-logout {
  width: 370px;
  background-color: rgb(160, 27, 27);
}
.btn-logout:hover {
  width: 370px;
  background-color: white;
  color:  rgb(160, 27, 27);
  border: 2px solid rgb(160, 27, 27);
}.btn-edit {
  width: 370px;
  background-color: rgb(216, 219, 22);
}
.btn-edit:hover {
  width: 370px;
  background-color: white;
  color:  rgb(216, 219, 22);
  border: 2px solid rgb(216, 219, 22);
}
.profile-wrapper {
  width: 400px;
  height: 550px;
  background-color: white;
  border-radius: 20px;
}
.profile-header img {
  width: 120px;
  height: 100px;
  border-radius: 20px;
}